%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Content:
  = @event.content
%p
  %b Date:
  = @event.date
%p
  %b Place:
  = @event.place
%p
  %b User:
  = @event.user_id

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
